{% extends 'SsSsBundle::layout.html.twig' %}

{% block content %}
    <h1>Member Login</h1>
    {% if error %}
		<div>{{ error.message }}</div>
	{% endif %}

    <form action="{{ path('login_check') }}" method="post">
				<b>Email:</b><br>
				<input type="text" id="username" name="_username" value="{{ last_username }}" />
 
				<b>Password:</b><br>
				<input type="password" id="password" name="_password" />
 
				<input type="submit" class="btn" value="Login">
		</form>

{% endblock %}
